/* colors:
 * eb3410 (orange),
 * 7099a5 (green) , 
 * ffffff (green ungesaettigt) 
 * ffffff (orange, ungesaettigt)
 *
 * */
/* reset */
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, form, textarea, input, p {
	margin:0;padding:0;
}
.simple {
	text-decoration:none;
	color:#000000;
}
ul li {
	list-style:none;
}

/*========================= MAIN ============================*/
html {
}
body { 
	background: #ffffff;
  border: 5px solid royalblue;
  font: 20px FreeSans, sans-serif;
  margin: 0;
  padding: 0;
}
#wrapper {
  width: 100%;
	margin: 0px;
  border: none;
}
.clearfix { 
  background-color: White;
  margin-left: 5px;
  margin-right: 5px;
  width: 95%;
}
td {
  font-size: 120%;
}
input {
  width: 100%;
  height: 100%;
  font-size: 140%;
}
#content {
	float:left;
	text-align:justify;
  width: 100%;
	background: transparent;
	padding-bottom: 10px;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
  margin-left: 10px;
  margin-right: 10px;
	font-size: 95%; /* 12px */;
	font-family:sans-serif;
}

/*========================= HEADER ============================*/
#header {
	position:relative;
  height: 70px;	
	background: burlywood no-repeat left top;	
	/*** z-index:10000 ***/
	z-index:1000;
	border-bottom: 5px solid royalblue;
}


#header img#logo {
  display: none;
}

#mainpic {
  width: 30%;
  max-width: 300px;
  margin: auto;
  display: block;
}

/* mainnav */
#mainnav {
		position: absolute;
		left: 5px;
		bottom:0px;
		max-width: 800px; 		
}
/* DROPDOWN CSS */

#nav, #nav ul { /* all lists */
	padding: 0;	margin: 0;
	list-style: none;
	line-height: 1;
	position: relative;
}
#nav a {
	display: block;
	padding: 10px 10px 10px 20px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 140%;
	border-bottom:none;
	font-weight:bold;
}

#nav ul li a {
	padding: 8px 10px;
	max-width: 142px;
	text-transform: none;
	color: #000000;
	font-size: 100%;
	border-top: 2px solid #ffffff;
	font-weight:bold;
}
#nav li { /* all list items */
	float: left; 
	margin:0;
	padding:0;
	width: auto;
	position: relative;
}

#nav li ul { /* second-level lists */
	position: absolute;
	left: -999em; 
	/*** z-index: 9500; ***/
	z-index: 950;
	max-width: 160px;
	background-color: royalblue;
	font-size: 120%;
	text-transform: none;
	border: 2px solid #ffffff;
	border-top: none;
}
#nav li:hover ul { /* lists nested under hovered list items */
	left: auto;
}
#nav li.last:hover ul { 
	right:0;
}

/* footer */
#footer {
  clear:both;
  padding: 10px;
	font-size: 110%;
	background-color: burlywood;
  color: #FFFFFF;
	border-top: 5px solid royalblue;
  overflow: hidden;
}




/*========================= SUBNAV ============================*/
#wrapper #subnav { 
	float:left; 
	width:160px;	
	margin:10px 0 15px 7px;  
}
#wrapper #contentwrapper { margin-left: 5px;}

#subnav {
  display: none;
}

.alert {
	font-weight:bold;
	color:red;
}

/* Lingulist Stuff */

#normaltable{
}
#normaltable a{
    color: DarkBlue;
    font-weight:normal;
}
#normaltable a:hover{
  text-decoration: underline;
}
#normaltable img{
    width:90%;
}
#normaltable img.active{
    width:50%;
}
#imgtable {
    margin-left:auto;
    margin-right:auto;
}
#imgtable td{
    text-align:center;
}

#content ul li{
	list-style:disc;
	margin-left: 20px;
	padding:0px 10px 10px 0px;
}
#content td{
	float:justify;
}



.footer_right {
  display: none;
  float: right;
  padding-left: 20px;
  padding-right:20px;
  
}
.footer_left {
  display: none;
  padding-left: 20px;
  padding-right:20px;
  float: left;
}

.footer_center {
  padding-left: 20px;
  padding-right:20px;
  float: left;
}


.footer {
  overflow: hidden;
}
